.home__container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-image: url("/img/mapa-mundi.png");
    background-size: cover;
    background-position: center;
}

.home__image{
    max-width: 300px;
    width: 100%;
    height: auto;
    padding-top: 30px;
}

.home__texto{
    color:#fff;
    font-size: 1.1em;
    line-height: 2em;
    text-align: center;
    margin: 30px 50px;
}

.home__botao{
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 3px 10px;
    color: white;
    font-size: 1.2em;
}

/*desktop*/
@media only screen and (min-width : 568px) {

    .home__image{
        max-width: 480px;
        height: auto;
        padding-top: 80px;
    }

    .home__texto{
        max-width: 600px;
        margin: 30px auto;
        padding: 0 30px;
    }

}