<!-->logo ODS<-->
<logo-ods></logo-ods>

<p class="home__texto">
    <img src="/img/home-info-icone.svg" class="home__image">
</p>
<p class="home__texto">
    O site Países agrega dados de várias fontes oficiais sobre todos os países do mundo. Divididos em cinco temas - Economia, Indicadores Sociais, População, Meio Ambiente e Redes -, os dados são apresentados de forma sucinta e direta, permitindo a comparação entre os índices das diversas nações.
    <br><br>
    <a class="home__botao" routerLink="mapa">Comece a usar</a>
</p>