/*card*/

.card{
    display: inline-block;
    width: 95%;
    border: 1px solid black;
    margin: 5px;
    vertical-align: top;
}

.card__barra-titulo{
    padding: 12px 18px 0px 18px;
    position: relative;
}

.card__titulo{
    text-align: left;
    font-family: "RobotoBlack", Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
}

.card__combo{
    width: 100%;
    display: block;
    padding: 3px 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0 5px 0;
    box-shadow: inset 0 1px 3px #ddd;
    font-size: 0.9em;
}

.card__rodape{
    padding: 12px 18px;
}

.card__fonte{
    text-align: left;
    font-size: 0.8em;
    line-height: 1.3em;
    margin: 0px;
}

.card__fonte-titulo{
    font-size: 1em;
    font-weight: bold;
}

/*desktop*/
@media only screen and (min-width : 568px) {
    
    .card{
        width: 45%;
    }

}

/*telas grandes*/
@media only screen and (min-width : 992px) {

    .card{
        width: 30%;
    }

}