html,body{
	margin:0;
	height:100%;
	width:100%;
	background-color:#4f4f4f;
}

body {
    font-size: 62.5%;
    line-height: 1.5;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #4f4f4f;
}

*:focus {outline:none;}

span.some, .ods-logo, .pais-foto, .menu-aux-desktop, .topo-busca-desktop, .pais-bandeira,
.historico-desktop, .economia-desktop, .olimpicos-desktop, .sociais-desktop, .meioambiente-desktop, .populacao-desktop, .telefonia-desktop, .envolve-indicadores, .envolve-card, .sintese-home, .container-pais .pure-g, .ranking .menu-aux-desktop, .container-ods nav ul, .menu-ods-geral, .ranking span.close, .ranking button, .comparar span.close, .comparar button, .objetivos-milenio, .comparar-grafico-icones, .comparar-lista-paises-desktop {
	display:none;
}
th {
	font-family: "RobotoMedium", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
}
h2 {
	font-size:1.5em;
	margin:0;
	font-weight:normal;
	display:inline;
}
h3 {
	font-weight:normal;
	font-size:1.4em;
}
h4 {
	font-weight:normal;
	font-size:1.3em;
}
.topo-tit h2 {
	display:inline-block;	
}
@font-face {
     font-family: Roboto;
     src: url('../Roboto.ttf');
}
@font-face {
     font-family: RobotoMedium;
     src: url('../Roboto-Medium.ttf');
}
@font-face {
     font-family: RobotoBold;
     src: url('../Roboto-Bold.ttf');
}

@font-face {
     font-family: RobotoBlack;
     src: url('../Roboto-Black.ttf');
}

* {
    box-sizing: border-box;
}

a {
    color: #4f4f4f;;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
	height:100%;
	width:100%;
	background-color:#fff;
}

.ods-logo {
	background-image:url(../imagens/ods-logo.png);
	width:135px;
	height:44px;
	z-index:20;
	position:absolute;
	top:70px;
	left:5px;
}
header {
	width:100%;
}
header div.topo-logomobile {
	float:left;
	background:url(../imagens/topo-logomobile.svg) no-repeat;
	height:20px;
	width:155px;
	margin:10px 0 0 5px;
	height:30px;
	width:160px;
	margin:5px 0 0 5px;
}
.grad {
	height:40px;
  background: #3bb2b8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #42e695, #3bb2b8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #42e695, #3bb2b8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #42e695, #3bb2b8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #42e695, #3bb2b8); /* Standard syntax */  
}

.container-home {
	background:#4f4f4f url(../imagens/home-bgmobile.png) no-repeat center;
	background-color:#4f4f4f;
}

section.home {
	background:url(../imagens/home-info-icone.svg) no-repeat top center;
	margin-top:30px;
}

section.home p {
	color:#fff;
	font-size:1.4em;
	text-align:center;
	padding:75px 50px 0 50px;
	line-height:1.8em;
}

.topo-tit {
	background-color:#4f4f4f;
	height:40px;
	color:#fff;
	padding:0px 0 0 8px;
}

.topo-tit span {
	font-size:2.5em;
	font-weight:bold;
	display:inline-block;
}
.topo-tit span:first-child  {
	margin:0 10px 0 0;
}

span.right {
	float:right;
	margin:0 10px;
	font-size:1em;
}
.menu-aux-desktop {
	height:50px;
	background-color:#3f3f3f;
}
.menu-aux-desktop a {
	color:#fff;
	font-size:1.1em;
	font-family:"RobotoMedium", Helvetica, Arial, sans-serif;;
}
.menu-aux-desktop a:hover {
	color:#ccc;
}
.menu-aux-desktop ul {
	margin:0 auto;
	padding:0;	
	width:98%;	
}
.menu-aux-desktop ul li:first-child {
	background:url(../imagens/voltar-bullet.png) no-repeat 0 21px;
	padding-left:15px;
}
.menu-aux-desktop ul li {
	display:inline-block;
	padding:20px 10px 10px 10px;
}
.menu-aux-desktop ul li:last-child {
	background:url(../imagens/comparar_icon.png) no-repeat 0 10px;
	float:right;
	padding-left:28px;
}
.ranking span.close, .comparar span.close {
	width:100%;
	background-color:#3f3f3f;
	text-align:right;
	cursor:default;	
}
.ranking span.close a, .comparar span.close a {
	color:#fff;
	padding:2px 8px;
	line-height:1em;	
	width:30px;
	background-color:#3f3f3f;		
}
.ranking .topo-tit, .comparar .topo-tit {
	clear:both;
}
.ranking .menu-aux-desktop, .comparar .menu-aux-desktop {
	background-color:transparent;
	text-align:right;
	height:30px;
}
.ranking .menu-aux-desktop ul li, .comparar .menu-aux-desktop ul li {
	background-image:none;
	padding:0;
	float:none;
	margin:8px;
}
.ranking .menu-aux-desktop ul li a, .comparar .menu-aux-desktop ul li a {
	color:#4f4f4f;
}
.ranking table .pure-table-horizontal, .ranking table .pure-table  {
	background-color:transparent;
}
.ranking button.leiamais {
	background-repeat:no-repeat;
	background-image:url(../imagens/comparar_icon.png);
	background-position:85px 4px;
	height:33px;
}
.ranking button {
	padding:9px 0 0 30px;
}
table {
	font-size:1.3em;
	width:100%;
	background-color:#fff;
}
.pure-table-horizontal tbody>tr:last-child>th {
	border-bottom-width:0;
}
.historico-desktop {
	background-color:#f4f4f4;	
	padding:10px 40px;
	clear:both;
	float:none;
}
.historico-desktop h3 {
	font-family: "RobotoBlack", Helvetica, Arial, sans-serif;
	margin:0 0 5px 0;	
}
.historico-desktop p {
	margin:0;
	padding:0;
	font-size:1.3em;
	line-height:1.8em;
}
.historico-desktop p.centralizar {
	text-align:center;
	font-weight:bold;
	font-size:0.9em;
}
.envolve-indicadores {
	margin-top:50px;
}
.envolve-card {
	width:97%;
	border:1px solid #4f4f4f;
	margin:7px auto;
}
.envolve-card small {
    font-size: 1em;
    line-height: 1.3em;
    padding: 1em 2em;
    display: block;
	min-height:6em;
}
.envolve-card__btn--flip a {
	background-image:url(../imagens/flip-icon.svg);
	display:block;
	width:19px;
	height:16px;
	float:right;
	margin:10px;
}
.envolve-card__btn--flip a:hover {
	background-image:url(../imagens/flip-icon--hover.svg);	
}
.envolve-card p {
	font-size:2.3em;
	font-family: "RobotoMedium", Helvetica, Arial, sans-serif;
	margin:0 15px 0 0;
	text-align:right;
	line-height:0.8em;
}
.envolve-card p span {
	font-size:0.6em;
	font-family: "RobotoRegular", Helvetica, Arial, sans-serif;
}
.envolve-card .grafico-economia {
	margin:0;
}
.envolve-card h3, .objetivos-milenio h3 {
	font-family: "RobotoBlack", Helvetica, Arial, sans-serif;
}
.envolve-card h3 {
	float:left;
}
.envolve-card select.select-card {
	font-size:1.3em;
	margin-left:15px;
	min-width:94%;
	max-width:94%;
}
button#myBtn {
	background:url(../imagens/bandeiras/brasil.gif) no-repeat;
	width:30px;
	height:21px;
	border:0;
	background-size:contain;
}
button#myBtnFontes {
	background-color:#fff;
	border:0;
	margin:5px;
	float:right;
	font-weight:bold;
}
.objetivos-milenio {
	margin-top:30px;
	background:url(../imagens/objetivos-milenio-grafico.png) no-repeat 0 50px;
	width:812px;
	height:430px;
}
div.fontes {
	background-color:#fff;
	width:100%;
	height:50px;
}

/********** RANKING **********/
.container-ranking table thead tr th {
	padding-top:20px !important;
}
.container-ranking  table tr.selecionado {
	background-color:#f9f9f9;
	font-weight:bold;
	border-top:2px solid #c0c0c0;	
}
.container-ranking table tr.destaque {
	font-weight:bold;
}
.container-ranking table thead tr {
	background-color:#fff;
	font-weight:normal;	
}
.container-ranking table tr td:first-child, table thead tr th:first-child {
	text-align:right;
}
/********** FIM DO RANKING **********/




/********** PAIS **********/
.pais-foto {
	background:url(../imagens/brasil-foto.jpg) center left;
	background-size:cover;
	float:left;
}
.pais-bandeira {
	background:url(../imagens/bandeiras/brasil.gif) no-repeat;
}
.pais-foto p {
	font-size:7em;
	font-family: "RobotoBlack", Helvetica, Arial, sans-serif;
	color:#ededed;
}
.container-pais div.sintese-tabela {
	background-color:#4f4f4f;
	color:#fff;
	width:100%;
}
.container-pais div.sintese-tabela table {
	width:90%;
	background-color:#4f4f4f;	
	margin:0 auto;	
}
.container-pais th {
	text-align:left;	
}
.container-pais table.pure-table {
	border:0;
	margin-top:10px;
}
.container-pais table.pure-table-horizontal td, .container-pais table.pure-table-horizontal th {
	border-bottom:1px solid #cbcbcb;
}
.container-pais .topo-tit h2 {
	display:inline-block;
	padding-left:7px;
	font-size:1.6em;
	font-family: "RobotoMedium", Helvetica, Arial, sans-serif;
}
.pais-bandeira h2 {
	padding:23px 0 0 65px;
	display:block;
	font-size:1.6em;
	font-family: "RobotoBold", Helvetica, Arial, sans-serif;
}
.container-pais section {
	background-color:#fff;
}
.container-pais table {
	background-color:transparent;
}
.grafico-economia {
	background:url(../imagens/grafico_economia.svg) no-repeat;
	width:400px;
	height:200px;
	margin:10px auto;
}
.envolve-card .grafico-economia {
	background-size:100%;
	width:auto;
	height:200px;
	margin:10px auto 30px auto;
}
.grafico-odm {
	background:url(../imagens/grafico-odm.svg) no-repeat;
	width:100%;
	height:100px;
	background-size: cover;
}
.grafico-odm~h4 {
	font-weight: 600;
}

/********** FIM DO PAIS **********/

/********** SINTESE HOME ********/
.sintese-home {
	width:28em;
	float:right;
	margin:3em 5em auto auto;
	background-color: rgba(255, 255, 255, 0.85);
}
.sintese-home .pais-bandeira {
	width:92%;
	background-size:contain;
	height:180px;
	margin:0 auto 1em auto;
}
.sintese-home h2{
	font-size:1.8em;
	font-weight:600;
	margin:0.7em;
}
.sintese-home span.close {
	font-size:20px;
	text-align:right;
	display:block;
	float:none;
	line-height:0;
	padding:11px 12px 12px 12px;
	margin-bottom:12px;
	background-color:#3f3f3f;
	cursor:default;
}
.sintese-home span.close a {
	color:#fff;
}
.sintese-home .pure-table {
	border:none;
	width:92%;
	margin:0 auto;
	text-align:left;
}
.sintese-home .pure-table th{
	padding-left:0;
}
.sintese-home table{
	background-color: rgba(255, 255, 255, 0.0);
}
.sintese-home .pure-table-horizontal td, .sintese-home .pure-table-horizontal th {
	border-bottom: 1px solid rgba(153,153,153,0.6);
}
.leiamais {
	background-color:#3f3f3f;
	color:#fff;
	border:none;
	width:92%;
	height:26px;
	font-size:1.1em;
	display:block;
	margin:10px auto;
}
/********** FIM DA SINTESE HOME **********/



/********** FLIPCARD **********/


/********** FIM DO FLIPCARD **********/




/********** COMPARAR PAIS **********/
.container-comparar {
	height:auto;
	background-color:#4f4f4f;
}
.container-comparar h3 {
	color:#fff;
}
.container-comparar form select {
	width:100%;
	padding:7px;
	font-size:1.3em;
	font-family: "RobotoMedium", Helvetica, Arial, sans-serif;
}
.container-comparar form select option {
	height:30px;
}
.container-comparar fieldset {
	margin:0;
	border:0;
	padding:0;
}
.comparar-grafico {
	background-image:url(../imagens/comparar-grafico.svg);
	height:367px;
	width:350px;
	margin:20px auto;
}
.comparar-grafico-icones {
	width:105px;
	height:45px;
	margin:0 auto;
}
.comparar-grafico-icones ul {
	width:105px;
	height:45px;
	padding:0;
}
.comparar-grafico-icones li {
	display:inline-block;
}
.comparar-grafico-icones li a {
	background-image:url(../imagens/comparar-grafico-icones.png);
	display:block;
	height:45px;
	width:36px;
	margin:7px;
}
.comparar-grafico-icones ul li:first-child a {background-position:-72px 0;}
.comparar-grafico-icones ul li:first-child a:hover {background-position:-72px 0;}
.comparar-grafico-icones ul li:last-child a {background-position:-36px 0;}
.comparar-grafico-icones ul li:last-child a:hover {background-position:-180px 0;}

.comparar-lista-paises-desktop {
	width:20%;
	margin-left:5%;
	float:left;
	background-color:#f4f4f4;
}
.comparar-lista-paises-desktop ul {
	padding:0;
	margin:0;
	font-size:1.2em;
}
.comparar-lista-paises-desktop ul li {
	list-style-type:none;
	padding:0.5em;
	font-family: "RobotoMedium", Helvetica, Arial, sans-serif;
}
.comparar-lista-paises-desktop ul li input {
	margin-right:0.2em;
}
.comparar-lista-paises-desktop ul li:first-child {
  height:50px;
  background: #3bb2b8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #42e695, #3bb2b8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #42e695, #3bb2b8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #42e695, #3bb2b8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #42e695, #3bb2b8); /* Standard syntax */  
  margin-bottom:10px;
}
.comparar-lista-paises-desktop ul li:first-child input {
	border-radius: 5px;
	border:0;
	margin-top:3px;
	height:32px;
	width:100%;
}

/********** FIM DO COMPARAR PAIS **********/




/********** ODS **********/
.video-ods {
	background:url(../imagens/video_icon.png) 0 2px no-repeat;
	height:20px;
	float:right;
	padding-left:22px;
	margin:0 10px;
	font-family: "RobotoMedium", Helvetica, Arial, sans-serif;
}
.container-ods nav {
	background-image:url(../imagens/ods-icones.svg);
	display:block;
	height:50px;
	border-bottom:1px solid #f1f1f1;
}
.container-ods section, .container-sintese section {
	background-color:#fff;
	height:100%;
}
.container-ods nav ul {
	margin:50px auto;	
	width:90%;
	padding-left:10px;
}
.container-ods nav ul li {
	background-image:url(../imagens/ods-icones-desktop.svg);
	width:100px;
	height:100px;
	display:inline-block;
	margin:1px;
}
.container-ods nav ul li.obj-geral {
	background:url(../imagens/ods-logo-gde.png) no-repeat center center;
	width:204px;
}
.container-ods nav ul li.obj-um {background-position:-100px 0;}
.container-ods nav ul li.obj-dois {background-position:-200px 0;}
.container-ods nav ul li.obj-tres {background-position:-300px 0;}
.container-ods nav ul li.obj-quatro {background-position:-400px 0;}
.container-ods nav ul li.obj-cinco {background-position:-500px 0;}
.container-ods nav ul li.obj-seis {background-position:-600px 0;}
.container-ods nav ul li.obj-sete {background-position:-700px 0;}
.container-ods nav ul li.obj-oito {background-position:-800px 0;}
.container-ods nav ul li.obj-nove {background-position:-900px 0;}
.container-ods nav ul li.obj-dez {background-position:-1000px 0;}
.container-ods nav ul li.obj-onze {background-position:-1100px 0;}
.container-ods nav ul li.obj-doze {background-position:-1200px 0;}
.container-ods nav ul li.obj-treze {background-position:-1300px 0;}
.container-ods nav ul li.obj-quatorze {background-position:-1400px 0;}
.container-ods nav ul li.obj-quinze {background-position:-1500px 0;}
.container-ods nav ul li.obj-dezesseis {background-position:-1600px 0;}
.container-ods nav ul li.obj-dezessete {background-position:-1700px 0;}

.menu-ods-geral {
	margin:0 auto;	
	width:90%;
	padding-left:10px;
}
.menu-ods-geral ul {
	padding:0;
}
.menu-ods-geral ul li {
	display:inline-block;
	margin:10px 0;
	margin-right:5px;
}
.menu-ods-geral ul li a {
	text-decoration:none;
	font-size:1.2em;
	text-transform:uppercase;
	font-family: "RobotoBold", Helvetica, Arial, sans-serif;
	padding:9px;	
	background-color:#f4f4f4;
	border-radius: 15px;
	border:1px solid #f4f4f4;;
}
.menu-ods-geral ul li:last-child {
	margin-right:0;
}
.menu-ods-geral ul li a:hover, .menu-ods-geral ul li a.selecionado {
	border:1px solid grey;
}

/********** BUSCA **********/
header div.topo-busca, header div.topo-busca-desktop {
	width:100%;
	height:34px;
	border:0;
}
header div.topo-busca input, header div.topo-busca-desktop input {
	width:100%;
	height:34px;
	border:0;
	margin:0;
	padding:10px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}
input[type=text] {
  width: 188px;
  height: 16px;
  font-family: serif;
}
/* webkit solution */
::-webkit-input-placeholder { 
  font-family: FontAwesome;
  text-align:right; 
}
/* mozilla solution */
input:-moz-placeholder { 
  font-family: FontAwesome;
  text-align:right; 
}
/********** FIM DA BUSCA **********/




/********** DROPDOWN MENU **********/
.dropbtn {
    color: #fff;
	font-size:2.3em;
	line-height:1.2em;
	font-weight:bold;
    padding: 0 10px 0 0;
    border: none;
    cursor: pointer;
	background-color:transparent;
}
.dropdown {
    position: relative;
    display: inline-block;
	float:right;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    padding: 5px 10px;
    text-decoration: none;
    display: block;
	font-size:1.2em;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/********** FIM DO DROPDOWNMENU **********/


/********** SUBMENU **********/
button.accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 15px 15px;
    width: 100%;
	border:none;
	border-bottom: 1px solid #6bd1b4;
    text-align: left;
    outline: none;
    font-size: 1.2em;
    transition: 0.4s;
	text-transform:uppercase;
	font-family: "RobotoMedium", Helvetica, Arial, sans-serif;
}
button.accordion:last-child {
	border-bottom:none;
}

button.accordion:first-child {
	padding-top:20px;
}
button.accordion.active, button.accordion:hover {
    background-color: #42e695;
}
button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content: "\2212";
}
div.panel {
    padding: 0 18px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
div.panel p {
	font-size:1.3em;
	line-height:1.8em;
}
/********** FIM DO SUBMENU **********/

/********** ODS 1 **********/
.texto-ods{
	font-size:1.3em;
	line-height:1.8em;
	padding:0 18px;
}
h3 {
	margin:12px 18px 0 18px;
	display:inline-block;
}
/********** FIM ODS 1 **********/



/********** MODAL **********/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 90%;
	font-size:1.1em;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 2em;
	font-weight:bold;
}

.close:hover,
.close:focus {
    color: #42e695!important; 
    text-decoration: none;
    cursor: pointer;
}
/********** FIM DO MODAL **********/

/********** MODAL BANDEIRA**********/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    top: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
span.close {
    font-size: 20px;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #4f4f4f;
    color: #fff;
	font-size:1.2em;
}

.modal-body {
	padding: 2px 16px;
	background-image:url(../imagens/bandeiras/brasil.gif);
	width:429px;
	height:302px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

/********** FIM DO MODAL BANDEIRA**********/




/* ==========================================================================
   Media Queries - Mobile First
   ========================================================================== */

    /* Small Devices, Tablets 768px*/
    @media only screen and (min-width : 568px) {
		.ods-logo, .menu-aux-desktop, .historico-desktop, .economia-desktop, .pais-foto, .olimpicos-desktop, .sociais-desktop, .meioambiente-desktop, .populacao-desktop, .telefonia-desktop, .envolve-card, .envolve-indicadores, .sintese-home, .pais-bandeira, .container-pais .pure-g, .ranking .menu-aux-desktop, .container-ods nav ul, .menu-ods-geral, .ranking .topo-tit, .ranking span.close, .ranking button, .comparar .topo-tit, .comparar span.close, .objetivos-milenio, .comparar-grafico-icones, .comparar-lista-paises-desktop {
			display:block;
		}
		button.accordion, #myBtnFontes, .container-ods div.panel {
			overflow:visible;
			width:90%;
			margin:0 auto;			
		}
		.sub-ods-geral-dois, .sub-ods-geral-tres, .sub-ods-geral-quatro, button.accordion, #myBtnFontes, header div.topo-busca, .container-pais .topo-tit-pais, .topo-tit, .topo-tit span, header div.topo-busca, .topo-tit-pais, select.comparar-lista-paises, div.fontes, .video-ods span { 
			display:none;
		}
		.sintese-home {
			border:1px solid #9f9f9f;
			margin:2em 2em 0 0;
		}
		.video-ods {
			background:url(../imagens/video_thumb.png) no-repeat;
			background-size:contain;
			width:100%;
			height:240px;
			float:left;
			margin:10px 0;
		}
		.texto-ods {
			width:90%;
			margin:0 auto;			
		}
		.texto-ods h3 {
			margin-left:0;			
		}
		.container-ods nav {
			background-image:none;
			border:none;
			height:auto;
		}
		.container-home, .container-ranking {
			background:#4f4f4f url(../imagens/mapa.png) no-repeat center;			
		}
		section.home {
			background-size: 230px;
		}
		section.home p {
			width:630px;
			margin:0 auto;		
			font-size:1.5em;
			line-height:1.9em;
			padding:200px 50px 0 50px;
		}
		.envolve-busca {
			width:100%;
			margin:0 auto;
			text-align:left;
		}
		header div.topo-busca-desktop {
			display:inline-block;
			width:50%;
		}
		header div.topo-logomobile {
			display:inline-block;
			background-position:right;
			width:35%;
			height:40px;
			margin-right:2em;
		}
		header div.topo-busca-desktop input {
			border-radius: 10px;
			border:0;
			margin-top:8px;
			height:32px;			
		}
		.grad {
			height:50px;
			text-align:center;
		}		
		.dropbtn {
			font-size:2.6em;
			padding: 2px 10px 0 0;
		}
		.container-pais div.sintese-tabela table {
			background-color:#fff;
			width:100%;
			line-height:1.2em;
			margin-top:5px;
		}
		.container-pais div.sintese-tabela {
			background-color:#fff;
			background-size:100%;
			color:#4f4f4f;
			width:45%;
			height:230px;
			float:right;						
		}
		.pais-foto {
			width:55%;
			height:230px;
		}
		.pais-bandeira {
			background-size:100%;
			height:42px;
			width:60px;
		}
		.comparar {
			width:90%;
			margin:3em auto;
			background-color: rgba(255, 255, 255, 0.85);
			border:1px solid #7f7f7f;
		}
		.comparar-paises-desktop-main {
			width:75%;
			float:right;
			text-align:center;
		}
		.container-comparar div.comparar-lista-indicadores select {
			margin:0.6em;
		}
		div.comparar-lista-indicadores select {
			width:40%;
			display:inline-block;
			background-color:#f4f4f4;
		}
		.comparar-grafico {
			margin-top:5em;
		}
		.ranking {
			width:32em;
			margin:2em 2em 0 0;
			background-color: rgba(255, 255, 255, 0.85);
			border:1px solid #7f7f7f;
			float:right;
		}
		.ranking .pure-table, .container-ranking .pure-table thead, .container-ranking table thead tr {
			border: none;
			background-color:transparent;
		}
		.topo-tit {
			background-color:#fff;
			color:#4f4f4f;
		}
		.ranking .topo-tit, .comparar .topo-tit {
			padding:5px 12px;
			background-color:#3f3f3f;
			color:#fff;
		}
		.ranking .topo-tit h2, .comparar .topo-tit h2 {
			font-size: 1.8em;
		}
		.ranking .pure-table td, .topo-logomobileranking .pure-table th {
			padding-top: 3px;
			padding-bottom: 3px;
		}
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		header div.topo-busca-desktop {
			width:60%;
		}
		header div.topo-logomobile {
			width:31%;
			background-size:contain;
		}
		header div.topo-busca-desktop input {
			width:80%;
		}
		.pais-bandeira {
            background-size:100%;
            height:98px;
            width:140px;
            display:block;    
        }
		.pais-foto {
			height:300px;
			width:60%;
		}
		.container-pais div.sintese-tabela {
			width:40%;		
		}
		.container-pais div.sintese-tabela table {
			line-height:1.6em;
		}
		.pais-bandeira h2 {
			padding:25px 0 0 150px;
			font-size:3em;
		}
		.ranking, .sintese-home {
			margin:6.2em 8em auto auto;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {


    }
