<div>
    <!--barra de menu-->
    <ul class="dados-pais__menu">
        <!--li class="dados-pais__menu-item">
            <a href="#" class="dados-pais__menu-link">
                <i class="fa fa-caret-left dados-pais__menu-icon" aria-hidden="true"></i> Voltar
            </a>
        </li-->
        <li class="dados-pais__menu-item">
            <a href="#" class="dados-pais__menu-link">{{'dados-pais__imprimir' | l10n}}</a>
        </li>
        <li class="dados-pais__menu-item">
            <a href="#" class="dados-pais__menu-link">{{'dados-pais__download' | l10n}}</a>
        </li>
        <li class="dados-pais__menu-item dados-pais__menu-item--right">
            <a routerLink="/mapa/comparar" class="dados-pais__menu-link">
                <i class="fa fa-signal dados-pais__menu-icon" aria-hidden="true"></i> {{'dados-pais__comparar-paises' | l10n}}
            </a>
        </li>
    </ul>
    <!--síntese-->
    <div class="dados-pais__sintese">
        <!--capa-->
        <div class="dados-pais__sintese-capa" [style.background-image]="'url(' + imageSrcCover + ')'">
            <button (click)="fotoAnterior()" class="dados-pais__sintese-capa-botao-anterior"><i class="fa fa-chevron-left dados-pais__sintese-capa-icon-anterior"></i></button>
            <button (click)="fotoProxima()" class="dados-pais__sintese-capa-botao-proximo"><i class="fa fa-chevron-right dados-pais__sintese-capa-icon-proximo"></i></button>

            <a [href]="imageLink" target="_blank" rel="noopener noreferrer" class="dados-pais__sintese-capa-link">
                <i class="fa fa-question-circle dados-pais__sintese-capa-icon"></i>
            </a>
        </div>
        <!--tabela da síntese-->
        <div class="dados-pais__sintese-container">
            <div class="dados-pais__sintese-titulo-container">
                <!--<i class="fa fa-caret-left dados-pais__sintese-voltar" aria-hidden="true"></i>-->
                <img class="dados-pais__sintese-bandeira" [src]="imageSrc">
                <h2 class="dados-pais__sintese-titulo">{{ pais?.nome.pt }}</h2>
            </div>
            <table class="dados-pais__sintese-tabela">
                <tbody>
                    <tr class="dados-pais__sintese-linha" *ngFor="let item of itens">
                        <th class="dados-pais__sintese-nome">{{ item.titulo }}</th>
                        <td class="dados-pais__sintese-valor">{{ item.valor | resultado }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--histórico-->
    <div class="dados-pais__historico">
        <div class="dados-pais__historico-titulo-container" [class.dados-pais__historico-titulo-container--ativo]="historico_aberto"
            (click)="historico_aberto = !historico_aberto">
            <h3 class="dados-pais__historico-titulo">HISTÓRICO</h3>
            <i class="fa fa-plus dados-pais__historico-icone" aria-hidden="true" *ngIf="!historico_aberto"></i>
            <i class="fa fa-minus dados-pais__historico-icone" aria-hidden="true" *ngIf="historico_aberto"></i>
        </div>
        <div class="dados-pais__historico-paragrafos-container" [class.dados-pais__historico-paragrafos-container--aberto]="historico_aberto">
            <p class="dados-pais__historico-paragrafo" *ngFor="let paragrafo of historico">
                {{ paragrafo }}
            </p>
            <div class="dados-pais__historico-degrade" *ngIf="!historico_aberto"></div>
        </div>
        <div class="dados-pais__historico-mais-container">
            <button class="dados-pais__historico-mais" (click)="historico_aberto = !historico_aberto">
                <span class="dados-pais__historico-mais-label" *ngIf="!historico_aberto">Mostrar mais</span>
                <span class="dados-pais__historico-mais-label" *ngIf="historico_aberto">Mostrar menos</span>
            </button>
        </div>
    </div>
    <!--cards container-->
    <div class="dados-pais__cards-container">
        <card *ngFor="let t of temas" [tema]="t" [pais]="pais"></card>
    </div>
    <!--tabelas-->
    <!--<div>
        <h2>Gráficos</h2>
        <div *ngFor="let tema of temas">
            <h4>{{ tema.tema }}</h4>
            <table>
                <tr *ngFor="let obj of tema.valores">
                    <th>{{obj.titulo}}</th>
                    <td *ngFor="let periodo of obj.periodos; let idx = index">
                        {{ obj.valores[idx] }} {{ obj.unidade?.identificador }} ({{periodo}}) 
                    </td>
                </tr>
            </table>
        </div>
    </div>-->
</div>