<div>
    <!--barra de menu-->
    <ul class="dados-pais__menu">
        <!--li class="dados-pais__menu-item">
            <a href="#" class="dados-pais__menu-link">
                <i class="fa fa-caret-left dados-pais__menu-icon" aria-hidden="true"></i> Voltar
            </a>
        </li-->
        <li class="dados-pais__menu-item"><a href="#" class="dados-pais__menu-link">Imprimir</a></li>
        <li class="dados-pais__menu-item"><a href="#" class="dados-pais__menu-link">Download</a></li>
        <li class="dados-pais__menu-item dados-pais__menu-item--right">
            <a href="#" class="dados-pais__menu-link">
                <i class="fa fa-signal dados-pais__menu-icon" aria-hidden="true"></i> Comparar Países
            </a>
        </li>
    </ul>
    <!--síntese-->
    <div class="dados-pais__sintese">
        <!--capa-->
        <div class="dados-pais__sintese-capa" [style.background-image]="'url(' + imageSrc + ')'"></div>
        <!--tabela da síntese-->
        <div class="dados-pais__sintese-container">
            <div class="dados-pais__sintese-titulo-container">
                <i class="fa fa-caret-left dados-pais__sintese-voltar" aria-hidden="true"></i>
                <img class="dados-pais__sintese-bandeira" [src]="imageSrc">
                <h2 class="dados-pais__sintese-titulo">{{ pais?.nome.pt }}</h2>
            </div>
            <table class="dados-pais__sintese-tabela">
                <tbody>
                    <tr class="dados-pais__sintese-linha" *ngFor="let item of itens">
                        <th class="dados-pais__sintese-nome">{{ item.titulo }}</th>
                        <td class="dados-pais__sintese-valor">{{ item.valor }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--histórico-->
    <div class="dados-pais__historico">
        <div class="dados-pais__historico-titulo-container" (click)="historico_aberto = !historico_aberto">
            <h3 class="dados-pais__historico-titulo">HISTÓRICO</h3>
            <i class="fa fa-plus dados-pais__historico-icone" aria-hidden="true"></i>
        </div>
        <div class="dados-pais__historico-paragrafos-container" [class.dados-pais__historico-paragrafos-container--aberto]="historico_aberto">
            <p class="dados-pais__historico-paragrafo" *ngFor="let paragrafo of historico">
                {{ paragrafo }}
            </p>
        </div>
        <div class="dados-pais__historico-mais-container">
            <button class="dados-pais__historico-mais" (click)="historico_aberto = !historico_aberto">
                <span class="dados-pais__historico-mais-label" *ngIf="!historico_aberto">Mostrar mais</span>
                <span class="dados-pais__historico-mais-label" *ngIf="historico_aberto">Mostrar menos</span>
            </button>
        </div>
    </div>
    <!--cards container-->
    <div class="dados-pais__cards-container">
        <!--card-->
        <div class="dados-pais__card">
            <div class="dados-pais__card-barra-titulo">
                <h3 class="dados-pais__card-titulo">Título</h3>
                <select class="dados-pais__card-combo">
                    <option>Entrada de turistas</option>
                    <option>Gastos públicos com educação</option>
                </select>
            </div>
            <grafico 
                [rotulosX]="[2000, 2001, 2002, 2003, 2020]"
                [rotulosY]="['Brasil']"
                [dados]="[[10,20,30,40,50]]">
            </grafico>
            <div class="dados-pais__card-rodape">
                <p class="dados-pais__card-fonte">
                    <span class="dados-pais__card-fonte-titulo">FONTE</span>: Human Development Report 2015: Work for Human Development. New York: United Nations Development Programme, 2013. Acesso em: jul. 2016. Nota: Esta variável já apresenta os dados de Sudão e Sudão do Sul de forma individualizada.
                </p>
            </div>
        </div>
    </div>
    <!--tabelas-->
    <div>
        <h2>Gráficos</h2>
        <div *ngFor="let tema of temas">
            <h4>{{ tema.tema }}</h4>
            <table>
                <tr *ngFor="let obj of tema.valores">
                    <th>{{obj.titulo}}</th>
                    <td *ngFor="let periodo of obj.periodos; let idx = index">
                        {{ obj.valores[idx] }} {{ obj.unidade?.identificador }} ({{periodo}}) 
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>