<header>
    <div class="grad">
            <div class="topo-logomobile"><span class="some">PAÍSES IBGE</span></div>
            <div class="topo-busca-desktop">
                <input type="text" placeholder="&#xF002;" class="campo-busca" value="" tabindex="1" autocomplete="off">
            </div>
        
        <div class="dropdown">
            <button class="dropbtn">...</button>
            <div class="dropdown-content">
            <a href="#">TELA INICIAL</a>
            <a href="#">ODS</a>
            <a href="#">ENGLISH</a>
            <a href="#">ESPAÑOL</a>
            </div>
        </div>         
        
    </div>
    
    <div class="topo-busca">
        <input type="text" placeholder="&#xF002;" class="campo-busca" value="" tabindex="1" autocomplete="off">
    </div>
</header>