<div class="area-aplicacao home__container">
    <p class="home__texto">
        <img src="../../../img/home-info-icone.svg" class="home__image">
    </p>
    <p class="home__texto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et ex vitae nibh tincidunt ornare. Aliquam molestie est eget aliquet pulvinar. Suspendisse potenti. Aliquam eu vel lorem lobortis sque et ex vitae nibh tincidunt ornare. Aliquam molestie est eget aliquet pulvinar. Suspendisse potenti. Aliquam eu vel lorem lobortis hendrerit non. Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque.
    </p>
</div>