.home__container{
    background-color: rgba(0,0,0,0.75);
}

.home__texto{
    color:#fff;
    font-size: 1.1em;
    line-height: 2em;
    text-align: center;
    margin: 30px 50px;
}

/*desktop*/
@media only screen and (min-width : 568px) {

    .home__image{
        width: 230px;
        height: auto;
    }

    .home__texto{
        max-width: 600px;
        margin: 30px auto;
        padding: 0 30px;
    }

}