.home__container{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.75);
}

.home__texto{
    color:#fff;
    font-size: 1.5em;
    line-height:1.8em;
    text-align:center;
    margin: 30px 50px;
}

/*desktop*/
@media only screen and (min-width : 568px) {

    .home__image{
        width: 230px;
        height: auto;
    }

    .home__texto{
        max-width: 630px;
        margin: 30px auto;
    }

}