.home__container{
    /*background-image:url(../imagens/home-info-icone.svg) no-repeat top center;*/
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.4);
}

.home__texto{
    color:#fff;
    font-size: 1.5em;
    line-height:1.8em;
    text-align:center;
    margin: 75px 50px 0px 50px;
}

/*desktop*/
@media only screen and (min-width : 568px) {

    .home__texto{
        max-width: 630px;
        margin: 200px auto 0px auto;
        background-size: 230px;
    }

}