<div class="comparar__underlay main-layer">

<div class="comparar">
    <!--barra de título-->
    <div class="comparar__barra-titulo">
        <!--título-->
        <h2 class="comparar__titulo">Comparar Países</h2>
        <!--botão de fechar-->
        <a class="button comparar__botao-fechar" routerLink="/mapa">
            <i class="fa fa-times comparar__icone-fechar" aria-hidden="true"></i>
        </a>
    </div>
    <!--dados-->
    <div class="comparar__info-container">
        <!--lista de países-->
        <div class="comparar__abrir-seletor-pais" [class.comparar__abrir-seletor-pais--ativo]="mostrarListaPaises" (click)="mostrarListaPaises=!mostrarListaPaises">
            Selecione até 5 países
            <i class="fa fa-plus comparar__abrir-seletor-icone" aria-hidden="true" *ngIf="!mostrarListaPaises"></i>
            <i class="fa fa-minus comparar__abrir-seletor-icone" aria-hidden="true" *ngIf="mostrarListaPaises"></i>
        </div>
        <div class="comparar__seletor-pais-container" [class.comparar__seletor-pais-container--ativo]="mostrarListaPaises">
            <div class="comparar__filtro-pais-container">
                <input class="comparar__filtro-pais" type="text" placeholder="Buscar país" (input)="filtrarPaises($event);"/>
            </div>
            <p class="comparar__filtro-info">Selecione até 5 países</p>
            <ul class="comparar__lista-pais">
                <ng-template ngFor let-pais [ngForOf]="paises" let-i="index">
                    <li class="comparar__lista-item-pais" *ngIf="!paisesRemovidos[i]">
                            <input type="checkbox"
                                [checked]="paisesSelecionados[i]"
                                [disabled]="!paisesSelecionados[i] && numPaisesSelecionados() >= 5"
                                (change)="paisesSelecionados[i] = !paisesSelecionados[i]; update();"/> {{ pais.nome[lang] }}
                    </li>
                </ng-template>
            </ul>
        </div>
        <div class="comparar__dados-container">
            <!--<div class="comparar__botoes-container">
                <button class="comparar__botao">Imprimir</button>
                <button class="comparar__botao">Donwload</button>
            </div>-->
            <!--comboboxes-->
            <div class="comparar__select-container">
                <select class="comparar__select" (change)="setTitulo($event)">
                    <option *ngFor="let item of getTitulos(); let i = index" [selected]="item.id == indicador">
                        {{ item.indicador }}
                    </option>
                </select>
            </div>
            <!--<div class="comparar__select-container">
                <select class="comparar__select" (change)="setTitulo($event)">
                    <option *ngFor="let titulo of getTitulos(); let i = index" [selected]="i == tituloAtual">
                        {{ titulo.indicador }}
                    </option>
                </select>
                <select class="comparar__select" (change)="setSubtitulo($event)">
                    <option *ngFor="let subtitulo of getSubtitulos(tituloAtual); let i = index" [selected]="i == subtituloAtual">
                        {{ subtitulo.indicador }}
                    </option>
                </select>
            </div>-->
            <!--grafico-->

            <div class="comparar__grafico-container">
                <grafico class="comparar__grafico-desktop"
                    [rotulosX]="getPeriodos()"
                    [rotulosY]="getLegenda()"
                    [dados]="getValores()"
                    [unidade]="getUnidade()"
                    [mostrarLegenda]="true"
                    [LARGURA_GRAFICO]="640"
                    [ALTURA_GRAFICO]="320">
                </grafico>

                <grafico class="comparar__grafico-mobile"
                    [rotulosX]="getPeriodos()"
                    [rotulosY]="getLegenda()"
                    [dados]="getValores()"
                    [unidade]="getUnidade()"
                    [mostrarLegenda]="true"
                    [LARGURA_GRAFICO]="320"
                    [ALTURA_GRAFICO]="240">
                </grafico>
            </div>
        </div>
    </div>
</div>

</div>