span.close{
	width:100%;
	background-color:#3f3f3f;
	text-align:right;
	cursor:default;	
	opacity: 1;
	display: none;
}
span.close a{
	color:#fff;
	padding:2px 8px;
	line-height:1.8em;	
	width:30px;
	background-color:#3f3f3f;		
}

.topo-tit{
	background-color: #4f4f4f;
    height: 40px;
    color: #fff;
    padding: 0px 0 0 8px;
}

.topo-tit h2 {
	display:inline-block;	
	font-size: 1em;
}

.topo-tit{
	clear:both;
}

.topo-tit span {
	font-size:1.5em;
	font-weight:bold;
	display:inline-block;
	color: #fff;
}
.topo-tit span:first-child  {
	margin:0 10px 0 0;
}
.menu-aux-desktop {
	height:50px;
	background-color:#3f3f3f;
	display: none;
}
.menu-aux-desktop a {
	color:#fff;
	font-size:0.8em;
	font-family:"RobotoMedium", Helvetica, Arial, sans-serif;;
}
.menu-aux-desktop a:hover {
	color:#ccc;
}
.menu-aux-desktop ul {
	margin:0 auto;
	padding:0;	
	width:98%;	
}.menu-aux-desktop ul li {
	display:inline-block;
	padding:20px 10px 10px 10px;
}

.menu-aux-desktop{
	background-color:transparent;
	text-align:right;
	height:30px;
}
.menu-aux-desktop ul li{
	background-image:none;
	padding:0;
	float:none;
	margin:8px;
}
.menu-aux-desktop ul li a{
	color:#4f4f4f;
}
.menu-aux-desktop ul li a:hover{
	color:#000;
}
table .pure-table-horizontal, table .pure-table  {
	background-color:transparent;
}

button {
	padding:9px 0 0 30px;
}

table {
	
	width:100%;
	background-color:#fff;
}

table thead tr th {
	padding-top:20px !important;
}
 table tr.selecionado {
	background-color:#f9f9f9;
	font-weight:bold;
	border-top:2px solid #c0c0c0;	
}
table tr.destaque {
	font-weight:bold;
}
table thead tr {
	background-color:#fff;
	font-weight:normal;	
}
table tr td:first-child, table thead tr th:first-child {
	text-align:right;
}

.leiamais {
    background-color: #3f3f3f;
    color: #fff;
    border: none;
    width: 92%;
    height: 26px;
    font-size: 1.1em;
    display: block;
    margin: 10px auto;
	background-repeat:no-repeat;
	background-image:url(../../img/comparar_icon.png);
	background-position:85px 4px;
	height:33px;
	font-size: 11px;
}

.leiamais:hover {
	color:#ccc;
}



 @media only screen and (min-width : 568px) {
    .topo-tit span{
        display: none;
    }

    .topo-tit, span.close, button {
	    display:block;
	}

    .ranking {
		max-width:400px;
		margin:2em 2em 0 0;
		background-color: rgba(255, 255, 255, 0.85);
		border:1px solid #7f7f7f;
		float:right;
	}

    .topo-tit{
        background-color: #4f4f4f;
		height: 40px;
		color: #fff;
		padding: 8px 0 0 8px;
    }

    .topo-tit h2{
        font-size: 1.2em;
    }

	.menu-aux-desktop{
		display: block;
	}
    
	.pure-table td{
        padding-top: 3px;
		padding-bottom: 3px;
    }

    tbody a:hover {
		color:#000;
	}

    .pure-table, .pure-table thead, table thead tr {
		border: none;
		background-color:transparent;
	}


 }

 @media only screen and (min-width : 992px) {
    .ranking{
        margin:6.2em 8em auto auto;
    }
 }