<section class="ranking">
        <span class="close"><a href="#">&times;</a></span>
    	<div class="topo-tit">
        	<span>&#8249;</span>
            <h2>{{ nomeIndiccador }}</h2>
        </div>
        <div class="menu-aux-desktop">
        	<ul>
            <li><a href="#">IMPRIMIR</a></li>
            <li><a href="#">DOWNLOAD</a></li>                       
            </ul> 
        </div>
    	<table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Posição <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
                    <th>País <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
                    <th>Quantidade</th>
                </tr>
            </thead>
        </table>
        <div class="table-overflow-scroll">
            <table class="pure-table pure-table-horizontal">
                <tbody>
                    <tr *ngFor="let pais of dados">
                        <td>{{ pais.posicao }}</td>
                        <td><a href="#">{{ pais.nome }}</a></td>
                        <td>{{ pais.valor }}</td>
                    </tr> 
                    <!--  
                    <tr class="selecionado">
                        <td>135º</td>
                        <td><a href="#">Catar</a></td>
                        <td>105.290</td>
                    </tr>
                    <tr>
                        <td>1º</td>
                        <td><a href="#">China</a></td>
                        <td>192.145</td>
                    </tr>
                    <tr>
                        <td>2º</td>
                        <td><a href="#">Estados Unidos</a></td>
                        <td>193.352</td>
                    </tr>
                    <tr>
                        <td>3º</td>
                        <td><a href="#">Alemanha</a></td>
                        <td>192.145</td>
                    </tr>
                    <tr>
                        <td>4º</td>
                        <td><a href="#">Chile</a></td>
                        <td>193.352</td>
                    </tr>
                    <tr>
                        <td>5º</td>
                        <td><a href="#">Itália</a></td>
                        <td>192.145</td>
                    </tr>
                    <tr class="destaque">
                        <td>6º</td>
                        <td><a href="#">Brasil</a></td>
                        <td>193.352</td>
                    </tr>
                    <tr>
                        <td>7º</td>
                        <td><a href="#">Portugal</a></td>
                        <td>192.145</td>
                    </tr>
                    <tr>
                        <td>8º</td>
                        <td><a href="#">França</a></td>
                        <td>193.352</td>
                    </tr>
                    <tr>
                        <td>9º</td>
                        <td><a href="#">Argentina</a></td>
                        <td>192.145</td>
                    </tr>
                    <tr>
                        <td>10º</td>
                        <td><a href="#">Portugal</a></td>
                        <td>192.145</td>
                    </tr>
                    <tr>
                        <td>11º</td>
                        <td><a href="#">França</a></td>
                        <td>193.352</td>
                    </tr>
                    <tr>
                        <td>12º</td>
                        <td><a href="#">Argentina</a></td>
                        <td>192.145</td>
                    </tr>
                    <tr>
                        <td>13º</td>
                        <td><a href="#">Argentina</a></td>
                        <td>192.145</td>
                    </tr>
                    <tr>
                        <td>14º</td>
                        <td><a href="#">Portugal</a></td>
                        <td>192.145</td>
                    </tr>
                    <tr>
                        <td>15º</td>
                        <td><a href="#">França</a></td>
                        <td>193.352</td>
                    </tr>
                    <tr>
                        <td>16º</td>
                        <td><a href="#">Argentina</a></td>
                        <td>192.145</td>
                    </tr>
                    -->
                </tbody>
            </table>
        </div>
        <button class="leiamais">COMPARAR PAÍSES</button>
    </section>