/*mobile*/

.ranking {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #9f9f9f;
	background-color: rgba(255, 255, 255, 0.8);
}

/*barra de título*/

.ranking__cabecalho {
	position: relative;
	background-color: #3f3f3f;
}

.ranking__titulo {
	font-size: 0.9em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 32px;
    padding: 0 30px 0 10px;
}

.ranking__botao-fechar {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 32px;
    padding: 0 10px;
}

.ranking__icone-fechar {
	color: #ffffff;
}

/*menu auxiliar*/

.ranking__menu {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

.ranking__menu-item {
	display: inline-block;
    line-height: 32px;
    padding: 0 5px;
    font-size: 0.75em;
	font-family: "RobotoMedium", Helvetica, Arial, sans-serif;
	color: #4f4f4f;
	text-transform: uppercase;
	cursor: pointer;
}

/*tabela*/

.ranking__tabela {
	border-collapse: collapse;
	display: block;
    height: calc(100% - 64px);
}

.ranking__tabela-cabecalho {
	display: block;
}

.ranking__tabela-cabecalho-linha{
	display: block;
	border-bottom: 1px solid #CBCBCB;
	white-space: nowrap;
}

.ranking__tabela-cabecalho-celula{
	display: inline-block;
	font-family: "RobotoMedium", Helvetica, Arial, sans-serif;
	color: #4f4f4f;
	font-size: 0.8em;
	line-height: 32px;
    padding: 0 10px;
    white-space: nowrap;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ranking__tabela-corpo {
	display: block;
    height: calc(100% - 32px);
    overflow-y: auto;
    overflow-x: hidden;
}

.ranking__tabela-corpo-linha{
	display: block;
	border-bottom: 1px solid #CBCBCB;
	width: 100%;
	white-space: nowrap;
}

.ranking__tabela-corpo-celula{
	display: inline-block;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #4f4f4f;
	font-size: 0.8em;
    padding: 3px 10px;
	white-space: initial;
}

.ranking__tabela-link{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #4f4f4f;
	font-size: 1em;
}

.linha-selecionada {
	background-color: rgba(0, 0, 0, 0.2);
}

.texto-centro {
	text-align: center;
}

.celula-pequena{
	width: 25%;
}

.celula-grande{
	width: 45%;
}

/*desktop*/
@media only screen and (min-width : 568px) {

	.ranking {
		width: 400px;
	}

}