<section class="ranking main-layer">

    <!--barra de título-->
    <div class="ranking__cabecalho">
        <!--título-->
        <h2 class="ranking__titulo">{{ nomeIndicador }}</h2>
        <!--botão de fechar-->
        <a class="button ranking__botao-fechar" [routerLink]="'/dados/' + pais.slug" queryParamsHandling="preserve">
            <i class="fa fa-times ranking__icone-fechar" aria-hidden="true"></i>
        </a>
    </div>

    <div class='ranking__opcoes'>

        <select #s1 (change)="selectTema(s1.value)">
                <option *ngFor="let tema of temas$ | async"
                    [value]="tema.posicao" [selected]="tema.posicao == temaId">{{ tema.indicador }}</option>
            </select>

        <select #s2 (change)="selectIndicador(s2.value)">
                <option *ngFor="let indicador of indicadores"
                    [value]="indicador.id" [selected]="indicador.id == indicadorId">{{ indicador.indicador }}</option>
            </select>

        <select #s3 (change)="selectAno(s3.value)">
            <option *ngFor="let periodo of periodos"
                [value]="periodo" [selected]="periodo == ano">{{ periodo }}</option>
        </select>
    </div>

    <!--barra de menu-->
    <ul class="ranking__menu">
        <li class="ranking__menu-item">IMPRIMIR</li>
        <li class="ranking__menu-item">DOWNLOAD</li>
    </ul>

    <!--tabela-->
    <table class="ranking__tabela">
        <!--cabecalho da tabela-->
        <thead class="ranking__tabela-cabecalho">
            <tr class="ranking__tabela-cabecalho-linha">
                <th class="ranking__tabela-cabecalho-celula texto-centro celula-pequena">
                    Posição <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </th>
                <th class="ranking__tabela-cabecalho-celula celula-grande">
                    País <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </th>
                <th class="ranking__tabela-cabecalho-celula celula-pequena">
                    {{ unidade }}
                </th>
            </tr>
        </thead>
        <!--corpo da tabela-->

        <tbody #scrollEl class="ranking__tabela-corpo">
            <ng-container *ngFor="let obj of dados">
                <tr #cty class="ranking__tabela-corpo-linha" [class.linha-selecionada]="obj.pais?.slug === pais?.slug" [attr.id]="obj?.pais?.slug">
                    <td class="ranking__tabela-corpo-celula texto-centro celula-pequena">
                        {{ obj?.posicao }}
                    </td>
                    <td class="ranking__tabela-corpo-celula celula-grande">
                        <a class="ranking__tabela-link" [routerLink]="['mapa', 'ranking', obj.pais?.slug]" queryParamsHandling="preserve">{{ obj.pais?.nome.pt }}</a>
                    </td>
                    <td class="ranking__tabela-corpo-celula celula-pequena">
                        {{ obj?.valor | resultado }}
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</section>