<div class="sintese main-layer">
    <!--barra de título-->
    <div class="sintese__barra-titulo">
        <!--botão de fechar-->
        <button class="sintese__botao-fechar"><i class="fa fa-times sintese__icone-fechar" aria-hidden="true"></i></button>
    </div>
    <!--dados-->
    <div class="sintese__info-container">
        <!--bandeira-->
        <div class="sintese__bandeira-container">
            <img alt="bandeira" src="../../../img/bandeiras/brasil.gif" class="sintese__bandeira-imagem">
        </div>
        <!--título-->
        <h2 class="sintese__titulo">BRASIL</h2>   
        <!--tabela de valores-->
        <table class="sintese__tabela"> 
            <tbody>
                <tr class="sintese__tabela-linha">
                    <th class="sintese__tabela-nome">Capital</th>
                    <td class="sintese__tabela-valor">Brasília</td>
                </tr>
                <tr class="sintese__tabela-linha">
                    <th class="sintese__tabela-nome">Extensão territorial</th>
                    <td class="sintese__tabela-valor">8.515.759.090 km</td>
                </tr>
                <tr class="sintese__tabela-linha">
                    <th class="sintese__tabela-nome">Idioma</th>
                    <td class="sintese__tabela-valor">Português</td>
                </tr>
                <tr class="sintese__tabela-linha">
                    <th class="sintese__tabela-nome">Localização</th>
                    <td class="sintese__tabela-valor">América do Sul</td>
                </tr>
                <tr class="sintese__tabela-linha">
                    <th class="sintese__tabela-nome">Moeda</th>
                    <td class="sintese__tabela-valor">Real</td>
                </tr>
                <tr class="sintese__tabela-linha">
                    <th class="sintese__tabela-nome"> Presidente</th>
                    <td class="sintese__tabela-valor">Michel Temer</td>
                </tr>
            </tbody>
        </table>
        <!--leia mais-->
        <div class="sintese__leia-mais">
            <a href="#" class="sintese__leia-mais-link">Leia mais</a>
        </div>
    </div>
</div>