<div class="sintese-home">
        <div class="sintese-tabela">
            <span class="close">&times;</span> 
            <div class="pais-bandeira"></div>
            <h2>BRASIL</h2>   
            <table class="pure-table pure-table-horizontal"> 
                <tbody>
                    <tr>
                        <th>Capital</th>
                        <td>Brasília</td>
                    </tr>
                    <tr>
                        <th>Extensão territorial</th>
                        <td>8.515.759.090 km</td>
                    </tr>
                    <tr>
                        <th>Idioma</th>
                        <td>Português</td>
                    </tr>
                    <tr>
                        <th>Localização</th>
                        <td>América do Sul</td>
                    </tr>
                    <tr>
                        <th>Moeda</th>
                        <td>Real</td>
                    </tr>
                    <tr>
                        <th>Presidente</th>
                        <td>Michel Temer</td>
                    </tr>
                </tbody>
            </table>
            <button class="leiamais">LEIA MAIS</button>
        </div>
    </div>