/********** SINTESE HOME ********/
table {
	font-size:1.3rem;
	width:100%;
	background-color:#fff;
}

.sintese-home {
	width:28rem;
	float:right;
	margin:3rem 5rem auto auto;
	background-color: rgba(255, 255, 255, 0.8);
}
.sintese-home .pais-bandeira {
	width:92%;
	background-size:contain;
	height:180px;
	margin:0 auto 1rem auto;
}
.sintese-home h2{
	font-size:1.8rem;
	font-weight:600;
	margin:1rem;
}
.sintese-home span.close {
	font-size:20px;
	color:#4f4f4f;
	text-align:right;
	display:block;
	float:none;
	line-height:0;
	padding:10px;
}
.sintese-home .pure-table {
	border:none;
	width:92%;
	margin:0 auto;
	text-align:left;
}
.sintese-home .pure-table th{
	padding-left:0;
}
.sintese-home table{
	background-color: rgba(255, 255, 255, 0.0);
}
.sintese-home .pure-table-horizontal td, .sintese-home .pure-table-horizontal th {
	border-bottom: 1px solid rgba(153,153,153,0.6);
}
.leiamais {
	background-color:#4f4f4f;
	color:#fff;
	border:none;
	width:92%;
	height:26px;
	font-size:1.1rem;
	display:block;
	margin:10px auto;

}
/********** FIM DA SINTESE HOME **********/