:host {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    display: flex;
    /* overflow: hidden; */
}

[leaflet] {
    width: 100%;
    overflow: hidden;
    background-color: #4F4F4F;
}

@media only screen and (min-width : 568px) {

}