<!-- IDG 1: http://barra.governoeletronico.gov.br/instrucoes.html# -->
<div
    *ngIf="idg === 1"
    id="barra-brasil"
    style="background:#7F7F7F; height: 20px; padding:0 0 0 10px; display:block;"
>
    <ul id="menu-barra-temp" style="list-style:none;">
        <li
            style="display:inline; float:left; padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"
        >
            <a
                href="http://brasil.gov.br"
                style="font-family:sans, sans-serif; text-decoration:none; color:white;"
                >Portal do Governo Brasileiro</a
            >
        </li>
        <li>
            <a
                style="font-family:sans, sans-serif; text-decoration:none; color:white;"
                href="http://epwg.governoeletronico.gov.br/barra/atualize.html"
                >Atualize sua Barra de Governo</a
            >
        </li>
    </ul>
</div>

<!-- IDG 2: http://barra.governoeletronico.gov.br/instrucoes.html#instrucoes-para-a-idg-2 -->
<div
    *ngIf="idg === 2"
    id="barra-brasil"
    style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;"
>
    <ul id="menu-barra-temp" style="list-style:none;">
        <li
            style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"
        >
            <a
                href="http://brasil.gov.br"
                style="font-family:sans,sans-serif; text-decoration:none; color:white;"
                >Portal do Governo Brasileiro</a
            >
        </li>
    </ul>
</div>
